<form method="POST">
    <legend>Crear video</legend>
    <partial name="../Video/Partials/VideoFormulario" />
</form>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('select').select2({
                theme: 'bootstrap4'
            });
        });
    </script>
}